<img class="cheese-img" src="assets/img/cheese.png" alt="a drawing of cheese">
<h1 class="page-title">Eat-Da-Cheese!</h1>

<div class="cheese-div">
  {{#each cheeses}}
    {{#unless devoured}}
      <div>
        <div class="cheese-div_text">{{cheese_name}}</div>
        <button class="eat-cheese" data-id="{{id}}">Devour it!</button>
      </div>
    {{/unless}}
  {{/each}} 
</div>

<div class="devoured-div">
  {{#each cheeses}}
    {{#if devoured}}
      <div class="devoured-div_text" data-id="{{id}}">
        <p>{{cheese_name}}</p> 
      </div>
    {{/if}}
  {{/each}}
</div>

<form>
  <label id="cheese-name_label" for="cheese-name">Enter a cheese you want to eat and click 'Add'</label>
  <input id="cheese-name" type="text">
  <button type="submit" class="add-btn">Add</button>
</form>
